<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lkq.billmanagesystem.dao.UserMapper">

    <!--基本类型和String在传参时参数名和接口参数名可以不一致。 -->
    <select id="findUserByUserName"  resultType="com.lkq.billmanagesystem.entities.User">

        select * from t_user where username = #{username}

    </select>


    <select id="getUsers"  parameterType="com.lkq.billmanagesystem.entities.User"
                           resultType="com.lkq.billmanagesystem.entities.User" >

    select * from  t_user  where 1=1
    <if test='realName != null and realName != "" '>

        and  realName like '%${realName}%'

    </if>

        <if test='username != null and username != "" '>

            and  username like '%${username}%'

        </if>

    </select>


    <select id="findUserById" parameterType="java.lang.Integer"
                               resultType="com.lkq.billmanagesystem.entities.User">

        select * from t_user where id = #{id}

    </select>


    <insert id="addUser" parameterType="com.lkq.billmanagesystem.entities.User" >

     INSERT INTO t_user (
      `id`,
      `username`,
      `real_name`,
      `password`,
      `gender`,
      `birthday`,
      `user_type`
      )
    VALUES(
      #{id},
      #{username},
      #{realName},
      #{password},
      #{gender},
      #{birthday},
      #{userType}
      )

    </insert>


    <update id="updateUser"  parameterType="com.lkq.billmanagesystem.entities.User">

    UPDATE t_user
    SET
      `id` = #{id},
      `username` = #{username},
      `real_name` = #{realName},
      `password` = #{password},
      `gender` = #{gender},
      `birthday` = #{birthday},
      `user_type` = #{userType}
    WHERE `id` = #{id}

    </update>


    <delete id="deleteUserById"  parameterType="java.lang.Integer">

     delete  from t_user where id = #{id}

    </delete>


</mapper>